.author {
    color: #4339f2!important;
    background-color: #e7e6fa!important;
    padding: 4px 15px!important;
    border-radius: 8px;
    font-style: normal !important;
    font-weight: bold;
    text-align: center!important;
}