<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav" id="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title"><img class="logo" id="logo" src="https://i.imgur.com/vYsms1o.png"></h2>
        </a>
        <ul class="nav-social-icons">
          {% if site.social.email %}
            <li><a target="_blank" href="mailto:{{ site.social.email }}"><i class="fas fa-envelope"></i></a></li>
          {% endif %}
          {% if site.social.github %}
            <li><a target="_blank" href="{{ site.social.github }}"><i class="fab fa-github"></i></a></li>
          {% endif %}
          {% if site.social.twitter %}
          <li><a target="_blank" onclick="mode()"><i class="fas fa-adjust" id="modeicon"></i></a></li>
          {% endif %}
          {% if site.social.linkedin %}
            <li><a target="_blank" href="{{ site.social.linkedin }}"><i class="fas fa-adjust"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Nitroapp. All rights reserved.
      </span><br><br>
      <iframe class="status" id="status" src="https://status.constellate.de/embed-status/light-md" width="240" height="61" frameBorder="0" scrolling="no" style="border: none;"></iframe>
      <script src="/assets/mode.js"></script>
    </footer>
  </body>

</html>
